@model GizmoGuide.Models.Review

@{
    ViewBag.Title = Model.ProductName;
}

<div class="row">
    <div class="col-md-4">
        <div class="gear-background">
            <div class="transparent-blue">
                    <img class="product-image" src="@Model.ImageURL" />
           
                <div class="product-info-holder">
                    <h2 class="product-name"> @Model.ProductName</h2>
                    <p class="review-label">Manufacturer</p>
                    <p class="review-info">@Model.ProductMake</p>
                    <p class="review-label">Model Number</p>
                    <p class="review-info">@Model.ModelNumber</p>
                    <p class="product-description">@Model.ProductDescription</p>
                </div>
            </div>
        </div>   
     </div>
    
    <div class="col-md-8">
        <h2 class="orange">The Gear Guy Review</h2>
        <p>@Model.ReviewDate</p>
        <p class="review-label orange">Score</p>
        
        @if (Model.Score == 1)
        { <div class="scoreholder">
            <i class="fa fa-cog fa-spin"></i>
              <i class="fa fa-cog"></i>
              <i class="fa fa-cog"></i>
              <i class="fa fa-cog"></i>
              <i class="fa fa-cog"></i>
        </div>}

        @if (Model.Score == 2)
        { <div class="scoreholder">
            <i class="fa fa-cog fa-spin"></i>
              <i class="fa fa-cog fa-spin"></i>
              <i class="fa fa-cog"></i>
              <i class="fa fa-cog"></i>
              <i class="fa fa-cog"></i>
        </div>}

        @if (Model.Score == 3)
        { <div class="scoreholder">
            <i class="fa fa-cog fa-spin"></i>
            <i class="fa fa-cog fa-spin"></i>
              <i class="fa fa-cog fa-spin"></i>
              <i class="fa fa-cog"></i>
              <i class="fa fa-cog"></i>
              
        </div>}

        @if (Model.Score == 4)
        { <div class="scoreholder">
            <i class="fa fa-cog fa-spin"></i>
            <i class="fa fa-cog fa-spin"></i>
            <i class="fa fa-cog fa-spin"></i>
            <i class="fa fa-cog fa-spin"></i>
              <i class="fa fa-cog"></i>
        </div>}

        @if (Model.Score == 5)
        { <div class="scoreholder">
            <i class="fa fa-cog fa-spin"></i>
            <i class="fa fa-cog fa-spin"></i>
            <i class="fa fa-cog fa-spin"></i>
            <i class="fa fa-cog fa-spin"></i>
            <i class="fa fa-cog fa-spin"></i>
        </div>}

        <p class="review-text">@Model.ReviewContent</p>
   
        <div>
            <p class="orange">
                @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
     </div>
</div>
